<html>
    <head>
        <%- include('publicStyle.ejs'); %>
        <title><%= tab_title %></title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/movies/add">Add Movies</a></li>
                <li><a href="/signUp">SignUp</a></li>
                <li><a href="/logIn">LogIn</a></li>
            </ul>
        </div>
        <h3><%= logged %></h3>
        <h1>Home Page</h1><br><br><br><br>
        <h2>Mohannad Atmeh  => 20191045</h2>
        <h2>Omar Hatem      => 20170604</h2>
        <h2>Ahmad Mashal    => 20180083</h2>
    </body>
</html>