<html>
    <head>
        <%- include('publicStyle.ejs'); %>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/movies/add">Add Movies</a></li>
            </ul>
        </div>
        <h1>Home Page</h1><br><br><br><br>
        <h2>Student name: Mohannad Atmeh</h2>
        <h2>Student num : 20191045</h2>
    </body>
</html>