<html>
    <head>
        <%- include('publicStyle.ejs'); %>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/movies/add">Add Movies</a></li>
                <li><a href="/signUp">SignUp</a></li>
                <li><a href="/logIn">LogIn</a></li>
            </ul>
        </div>

        <h2 style="color:red"><%= error %></h2>

        <form action="/logIn" method="post">
            <label for="uName">User Name: </label>
            <input id="uName" name="uName" type="text">
            <br>
            <label for="uPassword">Password: </label>
            <input id="uPassword" name="uPassword" type="text">
            <br><br>
            <button onclick="submit">Log In</button>
        </form>
    </body>
</html>