<html>
    <head>
        <%- include('publicStyle.ejs'); %>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/movies/add">Add Movies</a></li>
                <li><a href="/signUp">SignUp</a></li>
            </ul>
        </div>

        <h2 style="color:red"><%= error %></h2>

        <form action="/signUp" method="post">
            <label for="uName">User Name: </label>
            <input id="uName" name="uName" type="text">
            <br>
            <label for="uPassword">Password: </label>
            <input id="uPassword" name="uPassword" type="text">
            <br>
            <label for="uAge">Age: </label>
            <input id="uAge" name="uAge" type="number">
            <br>
            <label>Favorite Genre:<input name="uFavGenre" list="uFavGenre" name="uFavGenre" /></label>
            <datalist id="uFavGenre">
                <option value="Action"></option>
                <option value="Horror"></option>
                <option value="Comedy"></option>
                <option value="Fantasy"></option>
                <option value="Thriller"></option>
                <option value="Anime"></option>
            </datalist>
            <br><br>
            <button onclick="submit">SignUp</button>
        </form>
    </body>
</html>